<a href="https://colab.research.google.com/github/Surendra58/AI/blob/master/Lannet_Technologies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a python function which take a dataframe as input and deals with the issue of outliers in all the continuous variables.
# Things to consider:
# · It’s up to you on how you want to deal with outliers. You can either remove them or impute them.
# · We consider outliers as incorrect entries and not the one which are natural. For example, in the salary column, if there is a value of $1,000,000 then this value can be due to a natural cause (like it’s a salary for a CEO) or it can be a case of incorrect entry (like someone put an extra zero). So, we are only after incorrect entries.
# · Function should also identify which columns are continuous so that you can perform outlier removal on these columns
# · The code must be very fast so you cannot use multivariate approach which are based on distance calculation between allpoints.

In [ ]:
import pandas as pd,numpy as np
from pandas.api.types import is_numeric_dtype
np.random.seed(42)
age=np.random.randint(20,100,50)
name=['name'+str(i) for i in range(50)]
address=['address'+str(i) for i in range(50)]
df=pd.DataFrame(data={'age':age,'name':name,'address':address})
def remove_outlier(df):
    low=.05
    high=.95
    quant_df=df.quantile([low,high])
    for name in list(df.columns):
      if is_numeric_dtype(df[name]):
       df=df[(df[name] > quant_df.loc[low,name]) 
               & (df[name] < quant_df.loc[high,name])]
    return df
remove_outlier(df).head()

In [21]:
import pandas as pd
df=pd.DataFrame({'col1':['A','B','C','D','E'],
   'col2':['2020-04-04 18:41:00',
           '2020-03-04 18:41:00',
           '2020-08-04 18:41:00',
           '2020-06-04 18:41:00',
           '2020-05-03 14:13:00'],
  'col3':[0, 1, 2, 3, 4],
   'col4':['2019-05-04 18:41:00',
           '2019-04-04 18:41:00',
           '2019-04-04 18:41:00',
           '2019-02-04 18:41:00',
           '2019-07-03 14:13:00'],
   'col5':['2018-02-04 12:41:00',
           '2018-02-04 18:41:00',
           '2018-02-04 13:41:00',
           '2018-02-04 11:41:00',
           '2018-02-03 14:13:00']})

mask=df.astype(str).apply(lambda x : x.str.match(r'(\d{2,4}-\d{2}-\d{2,4})+').all())
df1=df.loc[:,mask]=df.loc[:,mask].apply(pd.to_datetime)
df1

                 col2                col4                col5
0 2020-04-04 18:41:00 2019-05-04 18:41:00 2018-02-04 12:41:00
1 2020-03-04 18:41:00 2019-04-04 18:41:00 2018-02-04 18:41:00
2 2020-08-04 18:41:00 2019-04-04 18:41:00 2018-02-04 13:41:00
3 2020-06-04 18:41:00 2019-02-04 18:41:00 2018-02-04 11:41:00
4 2020-05-03 14:13:00 2019-07-03 14:13:00 2018-02-03 14:13:00

In [23]:
# getting Difference 
df1['Date1-Date2']=(df1['col2'] - df1['col4']).dt.days
print("\nDifference of col2 and col4:\n",df1)

Difference of col2 and col4:
                  col2                col4                col5  Date1-Date2
0 2020-04-04 18:41:00 2019-05-04 18:41:00 2018-02-04 12:41:00          336
1 2020-03-04 18:41:00 2019-04-04 18:41:00 2018-02-04 18:41:00          335
2 2020-08-04 18:41:00 2019-04-04 18:41:00 2018-02-04 13:41:00          488
3 2020-06-04 18:41:00 2019-02-04 18:41:00 2018-02-04 11:41:00          486
4 2020-05-03 14:13:00 2019-07-03 14:13:00 2018-02-03 14:13:00          305

In [25]:
# getting Difference 
df1['Date3-Date2']=(df1['col5'] - df1['col4']).dt.days
print("\nDifference of col4 and col5:\n",df1)

Difference of col4 and col5:
                  col2                col4  ... Date1-Date2  Date3-Date2
0 2020-04-04 18:41:00 2019-05-04 18:41:00  ...        -455         -455
1 2020-03-04 18:41:00 2019-04-04 18:41:00  ...        -424         -424
2 2020-08-04 18:41:00 2019-04-04 18:41:00  ...        -425         -425
3 2020-06-04 18:41:00 2019-02-04 18:41:00  ...        -366         -366
4 2020-05-03 14:13:00 2019-07-03 14:13:00  ...        -515         -515

[5 rows x 5 columns]

In [26]:
# getting Difference 
df1['Date3-Date1']=(df1['col5'] - df1['col2']).dt.days
print("\nDifference of col5 and col1:\n",df1)

Difference of col5 and col1:
                  col2                col4  ... Date3-Date2  Date3-Date1
0 2020-04-04 18:41:00 2019-05-04 18:41:00  ...        -455         -791
1 2020-03-04 18:41:00 2019-04-04 18:41:00  ...        -424         -759
2 2020-08-04 18:41:00 2019-04-04 18:41:00  ...        -425         -913
3 2020-06-04 18:41:00 2019-02-04 18:41:00  ...        -366         -852
4 2020-05-03 14:13:00 2019-07-03 14:13:00  ...        -515         -820

[5 rows x 6 columns]